/* AG-Grid Customization */
.ag-theme-alpine .ag-row{
    border-width:0 !important;
    border-bottom-style:none !important;
    color: #565758 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 17px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    font-family: 'Lato', sans-serif !important;
    
}
.ag-theme-alpine .ag-header{
    border-bottom-color: 1px solid #CECFD0 !important;
    background-color:transparent !important;
    font-family: 'Lato', sans-serif !important;
}
.ag-theme-alpine .ag-root-wrapper{
    border:none !important;
    color: #E5E5E5;
    font-family: 'Lato', sans-serif !important;

}
.ag-theme-alpine .ag-header-row{
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 19px !important;
    letter-spacing: 0em !important;
    text-align: center !important;
    font-family: 'Lato', sans-serif !important;
    color: #343A40 !important;
}
.ag-theme-alpine .ag-cell{
    line-height: 55px !important;
   text-align: center !important;
   
}

.DeActiveCell .ac-inactiveBTN button{
    background: #E2241A !important;
    color: #fff;
    min-width: 61px;
    height: 26px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 14.4px;
    font-weight: 600;
    border: none;
}
.ActiveCell .ac-inactiveBTN button{
    background: #20B508 !important;
    color: #fff;
    min-width: 61px;
    height: 26px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 14.4px;
    font-weight: 600;
    border: none;
}
.Pending .ac-inactiveBTN button{
    background: rgba(247, 147, 30, 1) !important;
    color: #fff;
    min-width: 61px;
    height: 26px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 14.4px;
    font-weight: 600;
    border: none;
}
.ac-view button{
    background: #4C4D4E !important;
    color: #fff;
    min-width: 61px;
    height: 26px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 14.4px;
    font-weight: 600;
    border: none;
}
/* .ag-root-wrapper-body.ag-layout-normal{
    margin-bottom: 12px;
} */
.ag-paging-panel{
    margin-top: 12px !important;
    justify-content: space-between !important;
}
.ag-header-group-cell-label, .ag-header-cell-label{
    justify-content: center !important;
}
.actionTableW{
    display: flex;
    align-items: center;
    min-height: 55px;
    justify-content: center;
    
}
.actionTableW span{
    display: block;
    font-size: 18px;
}
.actionTableW span:first-child{
    margin-right: 8px;
}